@charset "UTF-8";

body {
    font-size: 13px;
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
}
a, a:active, a:link, a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
header {
    display: flex;
    justify-content: flex-end;
}
.main-nav {
    display: flex;
    list-style: none;
    padding: 8px;
    height: 68px;
    align-items: center;
    margin-right: 60px;
}
.main-nav li{
    padding-left: 15px;
}
.logo-container {
    text-align: center;
}
#logo-g {
    margin: 0 auto;
    background-image: url(../images/googlelogo_color_272x92dp.png);
    background-repeat: no-repeat;
    width: 272px;
    height: 92px;
    left: calc(50% - 272px/2);
    /*position: absolute;*/
}








#s-container {
    /*position: relative;*/
    /*min-width: 4100px;*/
}
.form-search {

}
.fa-search { /* search icon */
    position: absolute;
    top: 15px;
    left: 20px;
    color: rgba(0, 0, 0, 0.44);
    font-size: 120%;
}

.form-container {
    width: 555px;
    margin: 0 auto;
    position: relative;
}


input[type="text"] {
    padding-left: 50px;
    border: 2px #EEEEEE solid;
    height: 44px;
    width: 555px;
    /*box-shadow: 0 1px 5px 0 rgba(32, 33, 36, .28);*/
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    transition: none;
    /*border-color: #eeeeee2a;*/
}
input[type="text"]:focus,
input[type="text"]:hover {
    box-shadow: 0 2px 5px 0 rgba(60, 63, 67, 0.18);
}
:focus {
    outline: none;
}

input::placeholder {
    /*padding-left: 0px;*/
}
input:focus::placeholder {
    color: transparent;
}
